body {
  background-color: #1c5bc0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  margin-top: 10px;
  color: #072433;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.manualContainer {
  position: fixed;
  width: 100%;
  height: 110%;
  z-index: 3;
  margin-top: -22px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.manualVisible {
  position: absolute;
  min-height: 400px;
  z-index: 3;
  margin-top: 200px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
  width: 70%;
  background-color: aqua;
  left: 15%;
  top: -30%;
  animation-name: animaMode;
  animation-duration: 0.4s;
}
.closeContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: xx-large;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  color: azure;
  margin-top: 120px;

  background-color: black;

  margin-right: 10px;
  border-radius: 2px solid black;
}

@keyframes animaMode {
  from {
    transform: translateY(-300px);
    opacity: -1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.how {
  position: relative;
  margin-top: 10px;
  height: 30px;
  border-radius: 4px;
  z-index: 2;
}

.container {
  position: relative;
  display: flow-root;
  width: 70%;
  min-height: 360px;
  text-align: center;
  background-color: #4a5c5c;
  margin-top: 20px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
  border-radius: 5px;
  border: 2px solid;
}

.diceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 70px;
  align-items: center;
  /* background-color: bisque; */
}

h3 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  color: #4ecca3;
}

.pcolor {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  margin-top: 45px;
}

img {
  width: 40%;
  height: 30px;
  margin-top: 5px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
}

.imiv {
  height: 40px;
  width: 100%;
  margin: 40px auto 0 auto;
}

.roll {
  height: 100px;
  width: 60px;
  margin: 0 0 0 0;
  /* background-color: #222525; */
}

button {
  border-radius: 50%;
  background-color: rgb(156, 11, 11);
  color: aqua;
}

.dice {
  position: relative;
  margin-top: 10px;
  width: 20%;
  height: 70px;
  margin: 5px 10px;
}

.btns {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #a0061b;
  margin-top: 24px;
}

.con {
  height: 60%;
  margin: -50px auto 0 auto;
}

.emojies {
  margin: -20px 0 0 0;
}
#top {
  margin: 20px 0 0 0;
}

.test {
  position: relative;
  width: 100%;
  /* height: 70px; */
  background-color: #232931;
}

.playe {
  margin-top: -15px;
}

.imgDiv {
  margin-top: -90px;
}
/* 
.howBtn{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(64, 226, 36);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  /* Gap between columns and rows */
  margin: 20px;
  border: 2px solid;
  border-radius: 7px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
}

.grid-item {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  height: 20px;
  background-color: #4a5c5c;
}

.start {
  background-color: darkred;
  position: relative;
  flex-direction: column;
}

.begin {
  position: relative;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-top: -10px;
  margin-left: -26px;
}

.indicator {
  position: absolute;
  width: 15%;
  height: 17%;
  background-color: red;
  /* left: 40%; */
  top: 6px;
  z-index: 2;
}

.finish {
  background-color: green;
  color: rgb(144, 172, 172);
}

.long {
  background-color: blue;
}
/* 
.winner{
  font-size: 1.2rem;
} */

@media (min-width: 0px) and (max-width: 148.9px) {
  .media {
    /* background-color: #232931; */
    width: 30px;
    margin-left: 9.8px;
    font-size: 0.48rem;
    margin-top: 20px;
  }
  body {
    height: 50vh;
  }
  .pcolor {
    width: 50px;
    font-size: 0.45rem;
    padding-top: 30px;
  }
  img {
    height: 25px;
  }

  .container {
    min-height: 330px;
    margin-top: -3px;
    width: 105%;
  }

  img {
    width: 10px;
    height: 10px;
  }

  #dice {
    width: 25px;
    height: 25px;
    font-size: 0.33rem;
  }
  .emojies {
    margin-top: 5px;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #a0061b;
  }
  .dice {
    font-size: 0.3rem;
    width: 28px;
    height: 30px;
  }
  .how {
    height: auto;
  }
}

@media (min-width: 149px) and (max-width: 161.8px) {
  .media {
    /* background-color: #232931; */
    width: 40px;
    margin-left: 5px;
    font-size: 0.6rem;
  }
  body {
    height: 50vh;
  }
  .pcolor {
    width: 50px;
    font-size: 0.6rem;
    margin-top: 50px;
  }
  img {
    width: 12px;
  }
  .imiv {
    height: 40px;
    width: 40px;
    margin: 20px auto 0 auto;
  }

  .container {
    min-height: 320px;
    top: 490px;
    width: 100%;
  }

  .winner {
    margin-top: -20px;
  }
  .grid-container {
    position: relative;
    transform: rotate(270deg);

    margin-top: 620px;
  }

  .grid-item {
    position: relative;
    font-size: 0.6rem;
  }

  .manualVisible {
    position: relative;
    font-size: 0.8rem;
    margin-top: 188px;
    min-height: 25px;
    height: 30%;
  }

  .close {
    margin-top: 30px;
  }

  img {
    height: 20px;
    margin: 2px 2px 0 2px;
  }

  #dice {
    width: 25px;
    height: 25px;
    font-size: 0.33rem;
  }
  .emojies {
    margin-top: 5px;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #a0061b;
  }
  .dice {
    font-size: 0.4rem;
    width: 36px;
    height: 36px;
  }
  .how {
    margin-top: 12px;
    height: 30px;
  }
}

@media (min-width: 161.8px) and (max-width: 162px) {
  .media {
    width: 40px;
    margin-left: 5px;
    font-size: 0.6rem;
  }
  body {
    height: 50vh;
  }
  .pcolor {
    width: 50px;
    font-size: 0.6rem;
    margin-top: 50px;
  }
  img {
    width: 12px;
  }
  .imiv {
    height: 40px;
    width: 40px;
    margin: 20px auto 0 auto;
  }

  .container {
    min-height: 320px;
    top: 490px;
    width: 100%;
  }

  .winner {
    margin-top: -20px;
  }
  .grid-container {
    position: relative;
    transform: rotate(270deg);

    margin-top: 620px;
  }

  .grid-item {
    position: relative;
    font-size: 0.6rem;
  }
  /* 
  .manualVisible {
    position: relative;
    font-size: 0.8rem;
    margin-top: 90px;
    min-height: 120px;
    height: 30%;
  } */

  .close {
    margin-top: 5px;
  }
  .manualVisible {
    position: absolute;
    height: 10vh;
    z-index: 3;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 100px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 80%;
    font-size: 0.34rem;
    background-color: aqua;
    left: 15%;
    top: -30%;
    text-align: left;
    animation-name: animaMode;
    animation-duration: 0.4s;
    padding-left: -20px;
    margin-left: -5px;
  }

  .close {
    margin-top: 5px;
    font-size: 1rem;
    width: 15px;
    height: 15px;
  }

  img {
    height: 20px;
    margin: 2px 2px 0 2px;
  }

  #dice {
    width: 25px;
    height: 25px;
    font-size: 0.33rem;
  }
  .emojies {
    margin-top: 5px;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #a0061b;
  }
  .dice {
    font-size: 0.4rem;
    width: 36px;
    height: 36px;
  }
  .how {
    margin-top: 12px;
    height: 30px;
  }
}

@media (min-width: 162.1px) and (max-width: 190.9px) {
  .media {
    /* background-color: #232931; */
    width: 40px;
    margin-left: 5px;
    font-size: 0.6rem;
  }
  body {
    height: 50vh;
  }
  .pcolor {
    width: 50px;
    font-size: 0.6rem;
    margin-top: 50px;
  }
  img {
    width: 12px;
  }
  .imiv {
    height: 40px;
    width: 40px;
    margin: 20px auto 0 auto;
  }

  .container {
    min-height: 320px;
    top: 490px;
    width: 100%;
  }

  .winner {
    margin-top: -20px;
  }
  .grid-container {
    position: relative;
    transform: rotate(270deg);

    margin-top: 620px;
  }

  .grid-item {
    position: relative;
    font-size: 0.6rem;
  }

  .manualVisible {
    position: relative;
    font-size: 0.8rem;
    margin-top: 388px;
    min-height: 25%;
    width: 70%;
  }

  .manualContainer {
    min-height: 160%;
  }

  .close {
    margin-top: 80px;
  }

  img {
    height: 20px;
    margin: 2px 2px 0 2px;
  }

  #dice {
    width: 25px;
    height: 25px;
    font-size: 0.33rem;
  }
  .emojies {
    margin-top: 5px;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #a0061b;
  }
  .dice {
    font-size: 0.4rem;
    width: 36px;
    height: 36px;
  }
  .how {
    margin-top: 12px;
    height: 30px;
  }
}

@media (min-width: 191px) and (max-width: 234.9px) {
  .media {
    /* background-color: #232931; */
    width: 40px;
    margin-left: 5px;
    font-size: 0.6rem;
  }
  body {
    height: 100vh;
  }
  .pcolor {
    width: 50px;
    font-size: 0.6rem;
    margin-top: 50px;
  }
  img {
    width: 12px;
  }
  .imiv {
    height: 40px;
    width: 40px;
    margin: 20px auto 0 auto;
  }

  .container {
    min-height: 360px;
    top: 100px;
    width: 100%;
  }

  .grid-container {
    position: relative;
    transform: rotate(270deg);

    margin-top: 230px;
  }

  .grid-item {
    position: relative;
    font-size: 0.6rem;
    min-width: 0.2%;
    height: 3px;
  }
  .manualContainer {
    width: 120%;
    min-height: 160%;
  }

  .manualVisible {
    position: relative;

    margin-top: 480px;
    min-height: 25%;
    width: 70%;
  }

  img {
    height: 20px;
    margin: 2px 2px 0 2px;
  }

  #dice {
    width: 25px;
    height: 25px;
    font-size: 0.33rem;
  }
  .emojies {
    margin-top: 5px;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #a0061b;
  }
  .dice {
    font-size: 0.4rem;
    width: 36px;
    height: 36px;
  }
  .how {
    margin-top: 12px;
    height: 30px;
  }
}

@media (min-width: 235px) and (max-width: 319.9px) {
  .media {
    /* background-color: #232931; */
    width: 100%;
    font-size: 1.1rem;
    height: 50px;
  }
  .pcolor {
    position: relative;
    font-size: 1.12rem;
    padding-top: 5px;
  }
  img {
    width: 24px;
    height: 25px;
  }

  .imiv {
    height: 40px;
    width: 140%;
    margin: 50px 0 0 -18%;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #a0061b;
    margin-top: 40px;
  }

  .dice {
    position: relative;
    width: 20%;
    height: 50px;
    margin: 5px 10px;
    font-size: 0.6rem;
  }

  .diceContainer {
    position: relative;
  }

  .container {
    width: 80%;
    min-height: 350px;
  }
  #dice {
    width: 30px;
    height: 40px;
    font-size: 0.5rem;
  }

  .roll {
    margin-top: 0.5px;
  }

  .emojies {
    margin-top: -30px;
  }

  .how {
    margin-top: px;
    height: 30px;
  }
  .grid-item {
    font-size: 0.7rem;
  }

  .close {
    margin-top: 10px;
  }
  .manualVisible {
    position: absolute;
    min-height: 470px;
    z-index: 3;
    margin-top: 150px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    background-color: aqua;
    left: 15%;
    top: -30%;
    font-size: 0.9rem;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}

@media (min-width: 320px) and (max-width: 320.9px) {
  .media {
    /* background-color: #232931; */
    width: 100%;
    font-size: 1.1rem;
    height: 50px;
  }
  .pcolor {
    position: relative;
    font-size: 1.12rem;
    padding-top: 5px;
  }
  img {
    width: 24px;
    height: 25px;
  }

  .imiv {
    height: 40px;
    width: 140%;
    margin: 50px 0 0 -18%;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #a0061b;
    margin-top: 22px;
  }

  .dice {
    position: relative;
    width: 20%;
    height: 50px;
    margin: 5px 10px;
    font-size: 0.6rem;
  }

  .diceContainer {
    position: relative;
  }

  .container {
    width: 80%;
    min-height: 328px;
  }
  #dice {
    width: 30px;
    height: 40px;
    font-size: 0.5rem;
  }

  .roll {
    margin-top: 0.5px;
  }

  .emojies {
    margin-top: -30px;
  }

  .how {
    height: 30px;
  }

  .indicator {
    height: 10%;
  }
  .close {
    margin-top: 5px;
  }
  .manualVisible {
    position: absolute;
    min-height: 400px;
    z-index: 3;
    margin-top: 150px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    background-color: aqua;
    left: 15%;
    top: -30%;
    font-size: 0.9rem;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}

@media (min-width: 321px) and (max-width: 410.9px) {
  .media {
    /* background-color: #232931; */
    width: 100%;
    font-size: 1.1rem;
    height: 50px;
  }
  .pcolor {
    position: relative;
    font-size: 1.12rem;
    padding-top: 5px;
  }
  img {
    width: 24px;
    height: 25px;
    top: 10px;
  }

  .imiv {
    height: 40px;
    width: 140%;
    margin: 50px 0 0 -18%;
  }

  .btns {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #a0061b;
    margin-top: 44px;
  }

  .dice {
    position: relative;
    width: 25%;
    height: 70px;
    margin: 5px 10px;
  }

  .diceContainer {
    position: relative;
  }

  .container {
    width: 98%;
  }
  #dice {
    width: 30px;
    height: 40px;
    font-size: 0.5rem;
  }

  .roll {
    margin-top: 0.5px;
  }

  .emojies {
    margin-top: -30px;
  }
  .grid-item {
    font-size: 0.7rem;
  }

  .indicator {
    height: 10%;
  }

  .close {
    margin-top: 5px;
  }
  .manualVisible {
    position: absolute;
    min-height: 400px;
    z-index: 3;
    margin-top: 280px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    font-size: 0.9rem;
    background-color: aqua;
    left: 15%;
    top: -30%;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}

@media (min-width: 411px) and (max-width: 428.9px) {
  img {
    height: 25px;
  }
  .close {
    margin-top: 8px;
  }
  .manualVisible {
    position: absolute;
    min-height: 370px;
    z-index: 3;
    margin-top: 280px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    background-color: aqua;
    font-size: 0.9rem;
    left: 15%;
    top: -30%;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}

@media (min-width: 429px) and (max-width: 499.9px) {
  .close {
    margin-top: 5px;
  }
  .manualVisible {
    position: absolute;
    min-height: 400px;
    z-index: 3;
    margin-top: 200px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    background-color: aqua;
    left: 15%;
    top: -30%;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}

@media (min-width: 405px) and (max-width: 500px) {
  .pcolor {
    width: 50px;
    font-size: 1rem;
    margin-left: 18px;
  }
}

@media (min-width: 599px) and (max-width: 700.9px) {
  .dice {
    position: relative;
    width: 15%;
    height: 70px;
    margin: 5px 10px;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .dice {
    position: relative;
    width: 12%;
    height: 70px;
    margin: 5px 10px;
  }

  .img {
    width: 24px;
    height: 25px;
    padding: 0 2px;
  }
}

@media (min-width: 1001px) {
  .dice {
    position: relative;
    width: 10%;
    height: 70px;
    margin: 5px 10px;
  }

  .img {
    width: 24px;
    height: 25px;
    padding: 0 2px;
  }
}

@media (min-width: 0px) and (max-width: 320.9px) {
  .grid-item {
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
  }
}
.grid-container {
  margin-top: -px;
}

@media (min-width: 340px) and (max-width: 428.9px) {
  .grid-item {
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 500px) {
  .close {
    margin-top: 60px;
  }
  .manualVisible {
    position: absolute;
    min-height: 400px;
    z-index: 3;
    margin-top: 200px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
    width: 70%;
    background-color: aqua;
    left: 15%;
    top: -30%;
    animation-name: animaMode;
    animation-duration: 0.4s;
  }
}
